<div class='container ProfilePage'>
  <div class='row'>
    <div class='col-md-4'>
      <%= render 'profiles/left_menu' %>
    </div>
    <div class='col-md-8'>
      <div class="panel">
        <div class="panel-header">
          <p class="panel-header-title">Informacion de la cuenta</p>
        </div>
        <div class="panel-body">
          <div class='col-6 '>
              <div class="contentInput margin-top-15 ">
                <label class="label">Email:</label>
                <input
                  type="text"
                  class="input "
                />
              </div>
            </div>
            <div class='col-6'>
              <div class="contentInput margin-top-15 ">
                <label class="label">Password:</label>
               <input
                  type="text"
                  class="input "
                />
              </div>
            </div>
            <div class='col-6 margin-top-15'>
              <div class='button'>Actualizar</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

